In [1]:
import pandas as pd
import numpy as np

In [2]:
d = [['Alice', 5, 3, 4, 4, ],['User1', 3, 1, 2, 3, 3], ['User2', 4, 3, 4, 3, 5], ['User3', 3, 3, 1, 5, 4], ['User4', 1, 5, 5, 2, 1]]
col = ['User', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5']
df = pd.DataFrame(data = d, columns = col)

In [3]:
df

    User  Item1  Item2  Item3  Item4  Item5
0  Alice      5      3      4      4    NaN
1  User1      3      1      2      3    3.0
2  User2      4      3      4      3    5.0
3  User3      3      3      1      5    4.0
4  User4      1      5      5      2    1.0

In [4]:
# x et y sont les coordonnées de la case à calculer
x = 0
y = 5

In [5]:
# Mesurer les similarités entre les objets
temp = df.iloc[1:,1:]
temp

   Item1  Item2  Item3  Item4  Item5
1      3      1      2      3    3.0
2      4      3      4      3    5.0
3      3      3      1      5    4.0
4      1      5      5      2    1.0

In [6]:
def cosine_sim(df1, item_a, item_b):
    numerator = 0
    denom1 = 0
    denom2 = 0
    for idx, row in df1.iterrows():
        ru = df1.loc[idx,:].mean()
        rua = df1.loc[idx, item_a]
        rub = df1.loc[idx, item_b]
        numerator = numerator + ((rua - ru)*(rub - ru))
        denom1 = denom1 + (rua - ru)**2
        denom2 = denom2 + (rub - ru)**2
    return numerator / (np.sqrt(denom1) * np.sqrt(denom2))

In [7]:
d = [['Item1', cosine_sim(temp, 'Item5', 'Item1')],
     ['Item2', cosine_sim(temp, 'Item5', 'Item2')], 
     ['Item3',cosine_sim(temp, 'Item5', 'Item3')], 
     ['Item4',cosine_sim(temp, 'Item5', 'Item4')], 
     ['Item5',cosine_sim(temp, 'Item5', 'Item5')]]   

col = ['Name', 'Item5']

results = pd.DataFrame(data = d, columns = col)

In [8]:
results

    Name     Item5
0  Item1  0.804914
1  Item2 -0.908232
2  Item3 -0.763560
3  Item4  0.433063
4  Item5  1.000000